.chatWindow {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
  overflow-y: auto;
  /* scrollbar-width: thin; */
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

/* Navbar */

.navbar {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 10;

  background-color: #212121;
  transition: box-shadow 0.2s ease;
}

.navbar.shadow {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.navbar span {
  margin: 1rem 1rem;
}

.optionsDiv {
  margin: 10px 10px;
  height: 35px;
  width: 150px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
}

.optionsDiv:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  background-color: #424242;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 35px;
  width: 40px;
  margin-right: 2%;

  border-radius: 8px;

  cursor: pointer;
}

.menu:hover {
  background-color: #424242;
}

.dropDownMenu {
  position: absolute;
  top: 3rem;
  right: 2rem;

  width: 200px;
  height: auto;

  background-color: #323232;
  padding: 4px 6px;
  border-radius: 18px;
  text-align: left;
  z-index: 1000;
  box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.1);
}

.chatBody {
  flex: 1; /* takes remaining height */
  width: 100%;
  display: flex;
  justify-content: center;
}

.loaderRow {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.4rem 0;
}

/* Chat Input */
.chatInput {
  width: 100%;

  position: sticky;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  bottom: 0;
  z-index: 10;
  background-color: #212121;
}

.inputBox {
  width: 100%;

  position: relative;
  max-width: 700px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  font-size: 0.8rem;
  border-radius: 25px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0 54px 55px,
    rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px,
    rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

input:focus {
  outline: none;
}

#submit {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 20px;
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit i:hover {
  color: #fff;
}

.info {
  font-size: 0.8rem;
  padding: 0.5rem;
  color: #b4b4b4;
}

/* DropDown css */

/* 1. Options Drop Down */
.dropDownOptions {
  position: absolute;
  top: 2.8rem;
  left: 16.5rem;

  width: auto;

  background-color: #323232;
  box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.1);

  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  text-align: left;

  z-index: 1000;
}

.dropDownOption1 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  padding: 6px;
  margin-top: 3px;

  border-radius: 10px;
}

.dropDownOption1:hover {
  background-color: #424242;
}

.upgradeDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 10px 0 6px;
  width: 80px;
  height: 30px;
  border-radius: 20px;

  background-color: #212121;

  cursor: pointer;
}

.upgradeDiv:hover {
  background-color: #323232;
}

.dropDownOption2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  padding: 8px;
  margin-top: 3px;
  margin-bottom: 3px;

  border-radius: 10px;
}

.dropDownOption2:hover {
  background-color: #424242;
}

/* 2. Profile Drop Down */
.dropDownMenuItem {
  padding: 12px;

  border-radius: 12px;

  margin: 2px;
}

.dropDownMenuItem:hover {
  background-color: #424242;
}
