.sidebar {
  background-color: #171717;
  color: #b4b4b4;

  height: 100vh;
  width: 320px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;
}

.overflowDiv {
  flex: 1;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;

  background-color: #171717;
}

.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px;

  border-radius: 8px;
  cursor: pointer;
}

.logoDiv:hover {
  background-color: #323232;
}

.logo {
  height: 35px;
}

.sidePanelDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;

  margin-right: 4px;

  border-radius: 8px;

  cursor: pointer;
}

.sidePanelDiv:hover {
  background-color: #323232;
}

button span {
  font-size: 20px;
}

button:hover {
  background-color: rgba(180, 180, 180, 0.05);
}

.history {
  /* margin: 10px; */
  padding: 5px 10px;
  height: 100%;

  flex: 1;
  overflow-y: auto;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;

  scrollbar-width: thin;
}

.history li {
  list-style-type: none;
  cursor: pointer;
  padding: 1px 5px;
  font-size: 14px;
  border: solid 10px transparent;
  position: relative;
}

.history li:hover {
  background-color: #323232;
  border-radius: 10px;
}

.sign {
  border-top: solid 0.115px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.profile {
  padding: 2px;
  display: flex;
  align-items: center;

  height: 40px;

  margin: 8px 6px;
  font-size: 14px;
  padding: 5px;

  border-radius: 10px;

  cursor: pointer;
}

.profile:hover {
  background-color: #323232;
}

.userIconDiv {
  margin: 8px;
}

.userIcon {
  height: 25px;
  width: 25px;

  border-radius: 50%;
  display: flex;

  align-items: center;
  justify-content: center;
  cursor: pointer;

  background-color: rgb(255, 142, 221);
}

.dropDownProfile {
  position: absolute;
  bottom: 4rem;
  left: 1rem;

  width: 250px;
  height: auto;
  background-color: #323232;
  padding: 8px 15px;

  border-radius: 15px;
  text-align: left;
  z-index: 1000;
  box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.1);
}

.dropDownProfileItem {
  font-size: 14px;
  margin: 0rem 0rem;
  padding: 0.8rem 0.8rem;
  cursor: pointer;
}

.dropDownProfileItem:hover {
  background-color: rgba(180, 180, 180, 0.1);
  border-radius: 10px;
}

.dropDownProfileItem-profile {
  padding: 2px;
  display: flex;
  align-items: center;

  height: 40px;

  font-size: 14px;
  padding: 1px;

  border-radius: 10px;

  cursor: pointer;
}

.dropDownProfileItem-profile:hover {
  background-color: rgba(180, 180, 180, 0.1);
  border-radius: 10px;
}

.dropDownProfileItem-help {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  padding: 0.8rem 0.8rem;
  cursor: pointer;
}

.dropDownProfileItem-help:hover {
  background-color: rgba(180, 180, 180, 0.1);
  border-radius: 10px;
}

.fa-trash-can {
  opacity: 0;
  position: absolute;
  right: 0;
}

.history li:hover .fa-trash-can {
  opacity: 1;
  color: #fff;
}

.fa-trash-can:hover {
  color: #f87171 !important;
}

.highlighted {
  background-color: rgba(180, 180, 180, 0.05);
  border-radius: 10px;
}

.newOptions {
  margin: 10px;
}

.newOptionsItems {
  padding: 10px;

  font-size: 14px;

  border-radius: 10px;

  cursor: pointer;
}

.newOptionsItems:hover {
  background-color: #323232;
}
